[submodule "lib/flocking"]
	path = lib/flocking
	url = https://github.com/colinbdclark/Flocking.git
[submodule "lib/artlib.js"]
	path = lib/artlib.js
	url = https://github.com/drart/artlib.js.git
[submodule "lib/osc"]
	path = lib/osc
	url = https://github.com/colinbdclark/osc.js.git
[submodule "lib/myojs"]
	path = lib/myojs
	url = git@github.com:thalmiclabs/myo.js.git
